{% extends 'base.html' %}
{% block body %}
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <!--
    <div>
      {% if user.is_authenticated %}{% else %}
      <strong>Menu:</strong>
      <ul>
            <li><a href="{% url 'account_login' %}">Sign In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
      </ul>
      {% endif %}
    </div>
-->
    {% block content %}
    {% endblock %}
{% endblock %}
{% block extra_body %}
{% endblock %}
