{% extends 'base.html' %}
{% load static %}
{% block title %} HvZ @ RIT - About Us {% endblock %}
{% block extrahead %}
<script>
  $(document).ready(function () {
    $("h1,h2").each(function(index, elem){
      new_id = "section_"+(index);
      $(elem).attr("id", new_id);
      let new_row = "<a class='scrolllink' href='#"+new_id+"'>"+$(elem).text()+"</a>";
      $("#links").append(new_row);
    });
  });
</script>
{% endblock %}
{% block body %}


<div class="row">
  <div class="col">
    <h1 class="center"> About Us </h1>
  </div>
</div>
<div class="row">
  <div class="col scrollercol">
        <div class="scroller" id="links">
        </div>
  </div>
  <div class="col rulescontainercontainer">
    <div class="container rulescontainer">
      {{ about.about_text | safe}}
    </div>
  </div>
</div>
{% endblock %}
