{% extends 'base.html' %}
{% load static %}
{% block title %} HvZ @ RIT - Admin Controls {% endblock %}
{% block extrahead %}
<script>
    $(document).ready(function () {
        $('#maincontainer').addClass("admincontainer");
    });

    function navigate(location) {
        window.location.href = "/admin/" + location;
    }

</script>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="center">Game Controls</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col d-flex justify-content-center">
            <div class="row">
                <h2>Item Creation</h2>
                <div class="row justify-content-center">
                    <button onclick="navigate('create-body-armor')" class="playeradmintool">Create Body Armor</button>
                    <button onclick="navigate('create-av')" class="playeradmintool">Create AV</button>
                </div>
            </div>

        </div>
        <div class="col d-flex justify-content-center">
            <h1>Test</h1>
        </div>
        <div class="col d-flex justify-content-center">
            <h1>Test</h1>
        </div>
    </div>
</div>
{% endblock %}