{% extends 'base.html' %}
{% load static %}
{% load hvztags %}
{% block title %} HvZ @ RIT - Register AV {% endblock %}
{% block extrahead %}
<script>
    $(document).ready(function () {
        $("#id_av_code").attr('size',36);
        $("#id_player_id").attr('size',36);
    });
    </script>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col">
        <h1 class="center"> Register AV </h1>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if avcomplete %}
            <h2 class="avnotification">Successfully registered AV of {% get_player_name av.used_by user %}</h2>
        {% endif %}
        <form method="post" id="avform" class="center">{% csrf_token %}
            {% if form.non_field_errors|length > 0 %}<div class="avformerrors mb-3">{{ form.non_field_errors }}</div>{% endif %}
            <div class="mb-3">
                {{ form.av_code.errors }}
                <label for="{{ form.av_code.id_for_label }}" class="form-label">AV Code</label>
                {{ form.av_code }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
