{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
        <title>{% block title %}HvZ @ RIT{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>
        <link href="{% static 'css/base.css' %}" rel="stylesheet" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
        {% block extrahead %}{% endblock %}
        <script>
function accept_invitation(invite_id) {
    if (confirm("Accept invitation to clan?")) {
        console.log("Sending command");
    } else {
        console.log("Not sending command")
        return;
    }
    $.ajax('/clan/invitation_response/'+invite_id+"/accept",{
        method: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    }).done( function (data) {
        console.log(data);
        if (data.status == "success") {
            console.log("SUCCESSFULLY ACCEPTED INVITATION");
            window.location.href = data.redirect_url;
        }
        else {
            console.log("FAILED TO ACCEPT INVITATION");
        }
    })
}

function decline_invitation(invite_id) {
    if (confirm("Decline invitation to clan? THIS CANNOT BE UNDONE.")) {
        console.log("Sending command");
    } else {
        console.log("Not sending command")
        return;
    }
    $.ajax('/clan/invitation_response/'+invite_id+"/reject",{
        method: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    }).done( function (data) {
        console.log(data);
        if (data.status == "success") {
            console.log("SUCCESSFULLY DECLINED INVITATION");
            location.reload();
        }
        else {
            console.log("FAILED TO DECLINE INVITATION");
        }
    })
}

function accept_request(request_id) {
    if (confirm("Accept request to join clan?")) {
        console.log("Sending command");
    } else {
        console.log("Not sending command")
        return;
    }
    $.ajax('/clan/request_response/'+request_id+"/accept",{
        method: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    }).done( function (data) {
        console.log(data);
        if (data.status == "success") {
            console.log("SUCCESSFULLY ACCEPTED REQUEST");
            location.reload();
        }
        else {
            console.log("FAILED TO ACCEPT REQUEST");
        }
    })
}

function decline_request(request_id) {
    if (confirm("Decline request to join clan? THIS CANNOT BE UNDONE.")) {
        console.log("Sending command");
    } else {
        console.log("Not sending command")
        return;
    }
    $.ajax('/clan/request_response/'+request_id+"/reject",{
        method: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    }).done( function (data) {
        console.log(data);
        if (data.status == "success") {
            console.log("SUCCESSFULLY DECLINED REQUEST");
            location.reload();
        }
        else {
            console.log("FAILED TO DECLINE REQUEST");
        }
    })
}

function dismiss_announcement(announcement_id) {
  document.cookie = "dismissannouncement_"+announcement_id+"=true; path=/"; 
  $('#dismissannouncement_'+announcement_id).remove();
}

$(document).ready(function () {
  $(".announcementrow").each(function(index, element) {
    var cookie = $.cookie(element.id);
    if (cookie == "true") {
      $(element).remove();
    }
  });
});
</script>
    </head>
    <body class="text-light">
      {% block prebody %}{% endblock %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><img class="logo-img" src="{% static 'images/hvzlogo_small.png' %}" /></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Status</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about/">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/rules/">Rules</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/players/">Players</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tags/">Tags</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/clans/">Clans</a>
                  </li>
                  <!-- <li class="nav-item"> -->
                  <!--   <a class="nav-link" href="#">Infections</a> -->
                  <!-- </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="/missions/">Missions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tag/">Register Tag</a>
                  </li>
                  {% if user.is_authenticated and user.current_status.can_av %}
                  <li class="nav-item">
                    <a class="nav-link" href="/av/">Register AV</a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" href="/report/">Report Player/Incident</a>
                  </li>
                  {% if user.is_authenticated and user.current_status.is_admin %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle admin-only" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Admin Tools
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><h6 class="dropdown-header">Registration</h6></li>
                      <li><a class="dropdown-item" href="/blasterapproval/">Approve Blasters</a></li>
                      <li><a class="dropdown-item" href="/player_activation/">Register Players</a></li>
                      <li><a class="dropdown-item" href="/player_oz_activation/">Assign OZs</a></li>
                      <li><a class="dropdown-item" href="/admin/print/">ID Card Print</a></li>
                      <li><a class="dropdown-item" href="/admin/name_change_requests/">View Name Change Requests</a></li>
                      <!-- TODO: Remove. Remnant from issue with club center <li><a class="dropdown-item" href="/admin/unsigned_waivers/">View Unsigned Waiver list</a></li> -->

                      <li><h6 class="dropdown-header">Game Stuff</h6></li>
                      <li><a class="dropdown-item" href="/admin/view-tags">View Tags</a></li>

                      <li><h6 class="dropdown-header">Game Items</h6></li>
                      <li><a class="dropdown-item" href="/admin/create-av">Create an AV</a></li>
                      <li><a class="dropdown-item" href="/admin/create-body-armor">Create a Body Armor</a></li>
                      <li><a class="dropdown-item" href="/admin/view-avs">View AVs</a></li>
                      <li><a class="dropdown-item" href="/admin/view_failed_av_list">View Failed AV Attempts</a></li>
                      <li><a class="dropdown-item" href="/admin/bodyarmors">View Body Armors</a></li>

                      <li><h6 class="dropdown-header">Missions</h6></li>
                      <li><a class="dropdown-item" href="/admin/editmissions/">Edit Missions</a></li>
                      <li><a class="dropdown-item" href="/admin/editpostgamesurveys/">Edit Post-Mission Surveys (Tiers🙄)</a></li>
                      <li><a class="dropdown-item" href="/admin/badge_grant_list/">Grant Badges</a></li>
                      <li><a class="dropdown-item" href="/admin/manage_scoreboards/">Manage Scoreboards</a></li>

                      <li><h6 class="dropdown-header">Site Management</h6></li>
                      <li><a class="dropdown-item" href="/admin/cullaccounts/">Cull Inactive Accounts</a></li>
                      <li><a class="dropdown-item" href="/admin/manage_announcements/">Manage Announcements</a></li>
                      <li><a class="dropdown-item" href="/admin/update_about/">Update About Page</a></li>
                      <li><a class="dropdown-item" href="/admin/update_rules/">Update Rules</a></li>
                      <li><a class="dropdown-item" href="/admin/reports/">View Reports</a></li>
                    </ul>
                  </li>
                  {% endif %}
                  {% if user.is_authenticated and user.mod_this_game %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mod-only" href="#" id="navbarDropdownMod" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Mod Tools
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMod">
                      <li><a class="dropdown-item" href="/admin/badge_grant_list/">Grant Badges</a></li>
                    </ul>
                  </li>
                  {% endif %}
		            </ul>
                {% if user.is_authenticated %}
                {% if notification_count > 0 %}
                  <ul class="notifications navbar-nav ms-auto">
                    <a class="nav-link  dropdown-toggle notificationsnav" href="#" id="notificationsDropDown" data-bs-toggle="dropdown" aria-expanded="false">Notifications: <span class="notificationnumber">{{notification_count}}</span></a>
                    <ul class="dropdown-menu  dropdown-menu-end" aria-labelledby="navbarDropdown">
                      {% if name_changes_waiting %}
                        <li>
                          <a class="dropdown-item" href="/admin/name_change_requests/">
                            You have pending name change requests.
                          </a>
                        </li>
                      {% endif %}
                      {% for invitation in unanswered_invitations %}
                        <li>
                          <a class="dropdown-item">
                            {{invitation.inviter}} has invited you to join clan {{invitation.clan.name}}
                            <input type="button" class="btn btn-primary" value="Accept" onclick="accept_invitation('{{invitation.id}}')"/> 
                            <input type="button" class="btn btn-danger" value="Decline" onclick="decline_invitation('{{invitation.id}}')"/>
                          </a>
                        </li>
                      {% endfor %}
                      {% for req in unanswered_requests %}
                        <li>
                          <a class="dropdown-item">
                            {{req.requestor}} has requested to join clan {{req.clan.name}}
                            <input type="button" class="btn btn-primary" value="Accept" onclick="accept_request('{{req.id}}')"/> 
                            <input type="button" class="btn btn-danger" value="Decline" onclick="decline_request('{{req.id}}')"/>
                          </a>
                        </li>
                      {% endfor %}
                  </ul>
                {% endif %}
                {% endif %}
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="/me/">{{user.first_name}} {{user.last_name}}</a> </li><li class="nav-item"><a class="nav-link logout-link" href="/accounts/logout/">Logout</a>
                    {% else %}
                    <a class="nav-link" href="/accounts/login/">Login / Register</a>
                    {% endif %}
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="container-fluid">
        {% if is_banned %}
          <div class="row center announcementrow">
            <div class="col center banneddiv">
              You have been banned from HvZ at RIT. You may no longer interact with this site.
            </div>
          </div>
        {% elif user.is_authenticated and not user.active_this_game %}
          <div class="row center announcementrow">
            <div class="col center banneddiv">
              You are not currently registered to play in this weeklong. Make sure to attend a <u><i>full</i> registration session</u> to get your player ID.
            </div>
          </div>
        {% endif %}

        {% for announcement in announcements %}
        <div class="row center announcementrow" id="dismissannouncement_{{announcement.id}}"><div class="col center announcementdiv">
          {{announcement.short_form}} <a href="/announcement/{{announcement.id}}/" class="announcementlink">see more</a> <a class="announcementdismiss" onclick="dismiss_announcement('{{announcement.id}}')">×</a>
        </div></div>
        {% endfor %}
        </div>
        <div class="container-fluid" id="maincontainer">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
