{% extends 'base.html' %}
{% load static %}
{% block title %} HvZ @ RIT - Register Tag {% endblock %}
{% block extrahead %}
{% endblock %}
{% block body %}
{% load crispy_forms_tags %}    
<div class="row">
    <div class="col">
        <h1 class="center"> Blaster Approval </h1>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if approvalcomplete %}
            <h2 class="tagnotification">Successfully registered blaster!</h2>
        {% endif %}
        <form method="post" id="tagform" class="center" enctype="multipart/form-data">{% csrf_token %}
            {{ form | crispy }}    
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}