{% extends 'base.html' %}
{% load static %}
{% block title %} HvZ @ RIT - Clan List {% endblock %}

{% block extrahead %}
<meta name="robots" content="noindex, nofollow" />

<link href="{% static 'css/clans.css' %}" rel="stylesheet">
<script>
  $(document).ready(function () {
    var datatable = $('#clans').DataTable( {
      "serverSide": false,
      "order": [[1, 'asc']],
      "columns": [
        {"className": "dt_profilepic", "name": "picture", "data": "pic", "orderable": false},
        {"className": "dt_name", "name": "name", "data": "name"},
        {"className": "dt_size", "name": "size", "data": "size"},
      ],
    } );
  });
</script>
{% endblock %}

{% block body %}
<h1> Clans </h1>
{% if request.user.is_authenticated %}
    {% if request.user.clan == None %}
        {% if request.user.active_this_game %}
            <a class="btn btn-primary"  href="/create_clan/">Create New Clan</a>
        {% endif %}
    {% endif %}
{% endif %}
<table id="clans" class="table table-striped">
    <thead>
        <tr>
            <th class="foo">Picture</th>
            <th class="foo">Name</th>
            <th class="foo"># Members</th>
        </t>
    </thead>
    <tbody>
      {% for clan in clans%}
      <tr style="background-color:{{clan.color}}; color:{{clan.get_text_color}}">
        <td><a  class="dt_profile_link" style="color:{{clan.get_text_color}}" href="/clan/{{clan.name}}/"><img src="{{clan.picture.url}}" class='dt_profile' /></a></td>
        <td><a class="dt_name_link" style="color:{{clan.get_text_color}}" href="/clan/{{clan.name}}/">{{clan.name}}</a></td>
        <td><span style="color:{{clan.get_text_color}}"> {{clan.get_member_count}} </span></td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
