{% extends 'base.html' %}
{% load static %}
{% block title %} HvZ @ RIT - Clan List {% endblock %}

{% block extrahead %}
<script>
    $(document).ready(function () {
        var datatable = $('#clans').DataTable( {
            "serverSide": true,
            "ajax": {
                "url": '/api/datatables/clans',
                "type": 'GET'
            },
            "order": [[1, 'asc']],
            "columns": [
                {"className": "dt_profilepic", "name": "picture", "data": "pic", "orderable": false},
                {"className": "dt_name", "name": "name", "data": "name"},
                {"className": "dt_size", "name": "size", "data": "size"},
            ],
        } );
    });
</script>
{% endblock %}

{% block body %}
<h1> Clans </h1>

<table id="clans" class="table table-striped">
    <thead>
        <tr>
            <th class="foo">Picture</th>
            <th class="foo">Name</th>
            <th class="foo"># Members</th>
    </thead>
</table>
{% endblock %}
