{% extends 'base.html' %}
{% load static %}
{% load hvztags %}
{% block title %} HvZ @ RIT - Missions {% endblock %}
{% block extrahead %}
<script>
    $(document).ready(function () {
        $("#id_av_id").attr('size',36);
        $("#id_player_id").attr('size',36);
    });
    </script>
{% endblock %}
{% block body %}


<div class="row">
    <div class="col">
        <h1 class="center"> Missions </h1>
    </div>
</div>
<div class="row">
    <div class="col center">
        <button class="btn btn-primary" onclick="window.location.href='/admin/editmission/new/';">Create New Mission</button>
        {% for mission in missions %}
            <a href="/admin/editmission/{{mission.id}}/" class="missionlink">{{mission}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}