{% extends 'base.html' %}
{% load static %}
{% load hvztags %}
{% block title %} HvZ @ RIT - Missions {% endblock %}
{% block extrahead %}
<script>
    $(document).ready(function () {
        var datatable = $('#missions').DataTable({'ordering':false});
    });
</script>
{% endblock %}
{% block body %}


<div class="row">
    <div class="col">
        <h1 class="center"> Missions </h1>
    </div>
</div>
<div class="row">
    <div class="col center">
        <button class="btn btn-primary" onclick="window.location.href='/admin/editmission/new/';">Create New Mission</button>
        <table class="table display adminlist" id="missions">
            <thead>
                <tr>
                    <th style="text-align:center">Mission Name</th>
                    <th style="text-align:center">Team</th>
                    <th style="text-align:center">Story-form Go-Live</th>
                    <th style="text-align:center">Non-story-form Go-Live</th>
                </tr>
            </thead>
            <tbody>
            {% for mission in missions %}
                <tr onclick="window.location.href='/admin/editmission/{{mission.id}}/';">
                    <td>{{mission.mission_name}}</td>
                    <td>{{mission.get_team_display}}</td>
                    <td>{{mission.story_form_go_live_time}}</td>
                    <td>{{mission.go_live_time}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}