{% extends 'base.html' %}
{% load static %}
{% load hvztags %}
{% block extrahead %}
<script>

{% if game.is_after_end %}
console.log("after_end");
document.getElementById("countdowntext").innerHTML = "Game over!";
{% else %}
  // Set the date we're counting down to
  {% if game.is_after_start %}
  console.log("after_start");
  console.log("{{game.end_date_javascript}}")
  var countDownDate = new Date("{{game.end_date_javascript}}").getTime();
  var countDownPrefix = "Game ends in ";
  {% else %}
  console.log("before_game");
  console.log("{{game.start_date_javascript}}")
  var countDownDate = new Date("{{game.start_date_javascript}}").getTime();
  var countDownPrefix = "Game starts in ";
  {% endif %}
  console.log(countDownDate);
  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.getElementById("countdownprefix").innerHTML = countDownPrefix;
    document.getElementById("countdowntext").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("countdowntext").innerHTML = "0d 0h 0m 0s";
    }
  }, 1000);
{% endif %}
</script>
{% endblock %}
{% block body %}
<div class="row">
  <div class="col">
    <h1 class="center"> HvZ @ RIT</h1>
  </div>
</div>
<div class="row center">
  <div class="col countdown">
    <span class="countdownlabel" id="countdownprefix"></span>
    <span class="countdowntext" id="countdowntext"></span>
  </div>
</div>
<div class="row center">
  <div class="col-md-5 humancount mx-auto">
    <span class="humancountnumber">{{humancount}}</span>
    <br />
    <span class="humancountlabel">Humans</span>
  </div>
  <div class="col-md-1 versussection mx-auto">
    <span class="versuslabel"> VS </span>
  </div>
  <div class="col-md-5 zombiecount mx-auto">
    <span class="humancountnumber">{{zombiecount}}</span>
    <br />
    <span class="humancountlabel">Zombies</span>
  </div>
</div>

<br />

<div class="row center">
  <div class="col-md-6 recent-tags">
    <h2>Recent Events</h2>
    {% for t in recent_events %}
      {% if t.datatype == "Tag" %}
        {% if t.taggee %}
          <a class="statuspage" href="/player/{{t.taggee.player_uuid}}">{{t.taggee}}</a>
        {% else %}
          Body Armor
        {% endif %}
        was tagged by <a class="statuspage" href="player/{{t.tagger.player_uuid}}">{{t.tagger}}</a>
        <span class="timestamp" title="{{t.display_timestamp}}">{{t.relative_time_str}}</span> <br />
      {% else %}
        <a class="statuspage" href="/player/{{t.used_by.player_uuid}}">{{ t.used_by }}</a>
        used an antivirus
        <span class="timestamp" title="{{t.display_timestamp}}">{{t.relative_time_str}}</span> <br />
      {% endif %}
    {% endfor %}
  </div>

  <div class="col-md-6 leaderboard">
    <h2>Most Tags</h2>
    {% for p in most_tags %}

    <a class="statuspage" href="player/{{p.player.player_uuid}}">{{p.player}}</a> with <b>{{p.num_tags}}</b> tags <br />
    {% endfor %}
  </div>
</div>
{% endblock %}
