{% extends 'base.html' %}
{% load static %}
{% load hvztags %}
{% block body %}
<div class="row">
  <div class="col">
    <h1 class="center"> HvZ @ RIT</h1>
  </div>
</div>
<div class="row center">
  <div class="col humancount">
    <div class="row">
      <div class="col">
        <span class=humancountlabel>Humans</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class=humancountnumber>{{humancount}}</span>
      </div>
    </div>
  </div>
  <div class="col zombiecount">
    <div class="row">
      <div class="col">
        <span class=humancountlabel>Zombies</span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span class=humancountnumber>{{zombiecount}}</span>
      </div>
    </div>
    
  </div>
</div>


<div class="row center">
  <div class="col recent-tags">
    <h3>Recent Infections:</h3>
    {% for t in recent_tags %}
    
    
    {% if t.taggee %}<a href="/player/{{t.taggee.player_uuid}}">{{t.taggee}}</a>{% else %}Body Armor{% endif %} was tagged by <a href="player/{{t.tagger.player_uuid}}">{{t.tagger}}</a> at {{ t.timestamp|strftime }} <br />
    
    {% endfor %}
  </div>

  <div class="col leaderboard">
    <h3>Most Tags:</h3>
    {% for p in most_tags %}

    <a href="player/{{p.player.player_uuid}}">{{p.player}} ({{p.get_status_display}})</a>: {{p.num_tags}} <br />
  
    {% endfor %}
  </div>
</div>
{% endblock %}
