{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.23.0/cytoscape.min.js" integrity="sha512-gEWKnYYa1/1c3jOuT9PR7NxiVI1bwn02DeJGsl+lMVQ1fWMNvtjkjxIApTdbJ/wcDjQmbf+McWahXwipdC9bGA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block body %}
<div class="row">
  <div class="col">
    <h1 class="center"> Infection Spread </h1>
  </div>
</div>
<div id="cy">
</div>
<script>
    
</script>
{% endblock %}