{% extends 'base.html' %}
{% load static %}
{% load hvztags %}
{% block title %} HvZ @ RIT - Register AV {% endblock %}
{% block extrahead %}
<script>
    $(document).ready(function () {
        $("#id_av_id").attr('size',36);
        $("#id_player_id").attr('size',36);
    });
    </script>
{% endblock %}
{% block body %}


<div class="row">
    <div class="col">
        <h1 class="center"> Missions </h1>
    </div>
</div>
<div class="row">
    <div class="col missionscrollercol">
        <div class="missionscroller">
            {% for mission in missions %}
            <a class="missionlink" href="#mission_{{mission.id}}">{{mission.mission_name}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col">
        {% for mission in missions %}
            {% for survey in mission.postgamesurvey_set.all %}
                {% if survey.is_viewable %}
                    <div class="row missionrow" id="survey_{{survey.id}}">
                        <div class="col missioncol">
                            <h1 class="missiontitle">Post-Mission Survey - {{ survey.mission.mission_name }}</h1>
                            <div class="missiontext">{{ survey.survey_text|safe }}</div>
                            {% get_player_response request.user survey as player_response %}

                            {% if survey.is_open %}
                                {% if player_response is not None %}
                                    <h3 class="selectedresponse">
                                        Your response is currently:{{player_response.response.option_name}}
                                    </h3>
                                    <h5 class="responsetimeoutwarning">You may change this response until {{survey.lock_time}}</h5>
                                {% endif %}
                                {% for option in survey.postgamesurveyoption_set.all %}                                
                                    <div class="surveyoption livesurvey">
                                        <span class="surveyoptionname">{{option.option_name}}:</span>
                                        <span class="surveyoptiontext">{{option.option_text}}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% if player_response is not None %}
                                    <h3 class="selectedresponse">
                                        Your response {% if survey.is_open %}is{% else %}was{% endif %} {{player_response.response.option_name}}
                                    </h3>
                                {% endif %}
                                {% for option in survey.postgamesurveyoption_set.all %}                                
                                    <div class="surveyoption">
                                        <span class="surveyoptionname">{{option.option_name}}:</span>
                                        <span class="surveyoptiontext">{{option.option_text}}</span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        <div class="row missionrow" id="mission_{{mission.id}}">
            <div class="col missioncol">
                <h1 class="missiontitle">{{ mission.mission_name }}</h1>
                <div class="missiontext">{{ mission.mission_text|safe }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}