{% extends 'base.html' %}
{% load static %}
{% block title %} HvZ @ RIT - {{ player }} {% endblock %}
{% block extrahead %}
<meta name="robots" content="noindex, nofollow" />
<script>
$(document).ready(function () {
    if ("{{player.is_banned}}" == "True"){
        $('#maincontainer').addClass("bannedcontainer");
        return;
    }
    if ("{{player.current_status.is_human}}" == "True") {
        $('#maincontainer').addClass("humancontainer");
    }
    if ("{{player.current_status.is_zombie}}" == "True") {
        $('#maincontainer').addClass("zombiecontainer");
    }
    if ("{{player.current_status.is_mod}}" == "True") {
        $('#maincontainer').addClass("modcontainer");
    }
    if ("{{player.current_status.is_admin}}" == "True") {
        $('#maincontainer').addClass("admincontainer");
    }
    if ("{{player.active_this_game}}" == "False") {
        $('#maincontainer').addClass("npcontainer");
    }
});

{% if user.is_authenticated and user.current_status.is_admin %}
function admintools(command) {
    if (command == "ban") {
        if(confirm("Ban player from HvZ @ RIT? -- THIS IS VERY SEVERE AND CANNOT BE UNDONE, BE VERY SURE! --")){}
        else { return; }
    }
    if (command == "Tools") return;
    //window.location.href = "/admin/player_admin/tools/{{player.player_uuid}}/" + command;
    $.ajax("/admin/player_admin/tools/{{player.player_uuid}}/" + command,{
        method: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    }).done( function (data) {
        console.log(data);
        if (data.status == "success") {
            location.reload();
        };
    })
}
{% endif %}

function kick_player(player_uuid) {
    event.preventDefault()
    if (confirm("Kick player from clan? THIS CANNOT BE UNDONE.")) {
        console.log("Sending command");
    } else {
        console.log("Not sending command")
        return;
    }
    $.ajax('/clan/clan_management/{{player.clan}}/kick/'+player_uuid,{
        method: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    }).done( function (data) {
        console.log(data);
        if (data.status == "success") {
            console.log("SUCCESSFULLY KICKED PLAYER");
            location.reload();
        }
        else {
            console.log("FAILED TO KICK PLAYER");
        }
    })
}

function promote_player(player_uuid) {
    event.preventDefault()
    if (confirm("Abdicate leadership of clan? THIS CANNOT BE UNDONE.")) {
        console.log("Sending command");
    } else {
        console.log("Not sending command")
        return;
    }
    $.ajax('/clan/clan_management/{{player.clan}}/promote/'+player_uuid,{
        method: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    }).done( function (data) {
        console.log(data);
        if (data.status == "success") {
            console.log("SUCCESSFULLY PROMOTED PLAYER");
            location.reload();
        }
        else {
            console.log("FAILED TO PROMOTE PLAYER");
        }
    })
}

function invite_player(player_uuid) {
    event.preventDefault()
    if (confirm("Invite player to clan?")) {
        console.log("Sending command");
    } else {
        console.log("Not sending command")
        return;
    }
    $.ajax('/clan/clan_management/{{user.clan}}/invite/'+player_uuid,{
        method: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    }).done( function (data) {
        console.log(data);
        if (data.status == "success") {
            console.log("SUCCESSFULLY INVITED PLAYER");
        }
        else {
            console.log("FAILED TO INVITE PLAYER");
        }
    })
}
</script>
{% endblock %}

{% block body %}
<div class="container playercontainer">
    <div class="row playernamerow justify-content-md-center ">
        <div class="col col-md-2 align-bottom playernamecol">
            <img class="player_picture img-fluid" src="{{ player.picture_url }}"/>
        </div>
        <div class="col col-md-10 playernamecontainer">
            <div class="row">
                <div class="col">
                    <div class="align-bottom playername playernamecol">
                        <h2 class="player_name align-bottom"> {{ player }} </h2>
                    </div>
                </div>
                {% if user.is_authenticated and user == player %}
                <div class="col">
                    <button style="margin-bottom:10px" class="btn btn-dark" type="button" aria-expanded="false" onclick="window.location.href='/name-change/'">Change Name</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if user.is_authenticated and user.current_status.is_admin %}
    <div class="row admintoolsrow">
        <div class="col align-bottom playernamecol">
            <div class="dropdown align-bottom admintoolsdiv">
                <button class="btn btn-dark align-bottom dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Admin Tools</button>
                <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header">ID Card</h6></li>
                    <li><a class="dropdown-item" href="/admin/print_one/{{player.player_uuid}}/">Reprint Player ID Card</a></li>
                    <li><h6 class="dropdown-header">Waiver</h6></li>
                    {% if player.current_status.waiver_signed == False %}
                    <li><a class="dropdown-item" href="#" onclick="admintools('mark_waiver')">Mark Waiver Signed</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="#" onclick="admintools('unmark_waiver')">Mark Waiver NOT Signed</a></li>
                    {% endif %}
                    <li><h6 class="dropdown-header">AV Blocking</h6></li>
                    {% if player.current_status.av_banned %}
                    <li><a class="dropdown-item" href="#" onclick="admintools('avunban')">Unblock Player From AVing</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="#" onclick="admintools('avban')">Block Player From AVing</a></li>
                    {% endif %}
                    <li><h6 class="dropdown-header">Regenerate ID codes</h6></li>
                    <li><a class="dropdown-item" href="#" onclick="admintools('regenerate_tag1')">Regenerate Tag #1 ID</a></li>
                    <li><a class="dropdown-item" href="#" onclick="admintools('regenerate_tag2')">Regenerate Tag #2 ID</a></li>
                    <li><a class="dropdown-item" href="#" onclick="admintools('regenerate_zombie')">Regenerate Zombie ID</a></li>
                    <li><h6 class="dropdown-header">Change Player Status</h6></li>
                    <li><a class="dropdown-item" href="#" onclick="admintools('make_oz')">Make OZ</a></li>
                    <li><a class="dropdown-item" href="#" onclick="admintools('make_nonplayer')">Make Nonplayer</a></li>
                    <li><a class="dropdown-item" href="#" onclick="admintools('make_human')">Make Human</a></li>
                    <li><a class="dropdown-item" href="#" onclick="admintools('make_human_av')">Make Human (Used AV)</a></li>
                    <li><a class="dropdown-item" href="#" onclick="admintools('make_human_extracted')">Make Human (Extracted)</a></li>
                    <li><a class="dropdown-item" href="#" onclick="admintools('make_zombie')">Make Zombie</a></li>
                    <li><a class="dropdown-item" href="#" onclick="admintools('make_zombie_av')">Make Zombie (Used AV)</a></li>
                    <li><a class="dropdown-item" href="#" onclick="admintools('make_mod')">Make Mod</a></li>
                    <li><h6 class="dropdown-header">Ban Player</h6></li>
                    <li><a class="dropdown-item" href="#" onclick="admintools('ban')">Permanently Ban Player</a></li>
                </ul>
            </div>
        </div>

        <div class="col align-bottom playernamecol">
            <div class="dropdown align-bottom admintoolsdiv">
                <button class="btn btn-dark align-bottom dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Reports Filed: {{reporters|length}}</button>
                <ul class="dropdown-menu">
                    {% for report in reporters %}
                    <li><a class="dropdown-item" href="/admin/report/{{report.report_uuid}}/">{{report.report_uuid}}</a></li>
                    {% empty %}
                    <li>No reports</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col align-bottom playernamecol">
            <div class="dropdown align-bottom admintoolsdiv">
                <button class="btn btn-dark align-bottom dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Reports Against: {{reportees|length}}</button>
                <ul class="dropdown-menu">
                    {% for report in reportees %}
                    <li><a class="dropdown-item" href="/admin/report/{{report.report_uuid}}/">{{report.report_uuid}}</a></li>
                    {% empty %}
                    <li>No reports</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col align-bottom playernamecol">
            <div class="dropdown align-bottom admintoolsdiv">
                <button class="btn btn-dark align-bottom dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Failed AV attempts: {{failedavs|length}}</button>
                <ul class="dropdown-menu">
                    {% for failedav in failedavs %}
                    <li>{{failedav.web_str | safe}}</li>
                    {% empty %}
                    <li>No failed AV attempts</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-md-center playermainrow">
        <div class="col col-12 col-sm-12 col-md-4 center">
            <h3 class="tags_header">Info</h3>
            <table class="playerinfo">
                <tbody>
                    <tr>
                        <td> Status </td>
                        <td>{{player.current_status.get_status_display}}</td>
                    </tr>
                    {% if user.admin_this_game %}
                    <tr>
                        <td>Signed Waiver</td>
                        <td>{{player.current_status.waiver_signed}}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td> Clan </td>
                        <td> {% if player.clan %}<a href="/clan/{{player.clan}}/" class="clan_link">
                                {% if player.clan.picture %}<img class="profile_clan_picture" src="{{player.clan.picture.url}}"/>{% endif %}{{player.clan}}</a>
                            {% else %}
                                None
                            {% endif %}
                            {% if is_user_clan_leader %}
                                {% if is_player_clan_leader %}
                                {% else %}
                                    {% if player.is_banned == False %}
                                        {% if player.active_this_game %}
                                            <br />
                                            {% if player.clan != user.clan %}
                                                <input type="button" class="btn btn-primary" value="Invite" onclick="invite_player('{{player.player_uuid}}')" />
                                            {% else %}
                                                <input type="button" class="btn btn-danger" value="Kick" onclick="kick_player('{{player.player_uuid}}')" />
                                                <input type="button" class="btn btn-warning" value="Promote" onclick="promote_player('{{player.player_uuid}}')" />
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>

                    <!--
                         Ignore discord linking for now as to not confuse users
                         <tr>
                         <td> Discord </td>
                         <td>
                         {% if player == user %}
                         {% if discord_code %}
                         Use the following code: {{ discord_code }}
                         {% elif player.discord_id %}
                         {{player.discord_id}}
                         <a href="/discord-link">Reset your discord link</a>
                         {% else %}
                         <a href="/discord-link">Generate a code to link your discord account</a>
                         {% endif %}
                         {% else %}
                         {{player.discord_id}}
                         {% endif %}
                         </td>
                         </tr> -->

                    {% if player == user or user.admin_this_game%} {% if player.active_this_game %}
                    <tr><td style="white-space: nowrap;">Tag 1 ID</td><td id="id_tag1">  <a href="#" class="clan_link" onclick="document.getElementById('id_tag1').innerHTML='{{ player.current_status.tag1_uuid}}'">Show</a></td></tr>
                    <tr><td style="white-space: nowrap;">Tag 2 ID</td><td id="id_tag2">  <a href="#" class="clan_link" onclick="document.getElementById('id_tag2').innerHTML='{{ player.current_status.tag2_uuid}}'">Show</a></td></tr>
                    <tr><td style="white-space: nowrap;">Zombie ID</td><td id="id_zombie"><a href="#" class="clan_link" onclick="document.getElementById('id_zombie').innerHTML='{{ player.current_status.zombie_uuid}}'">Show</a></td></tr>
                    {% endif %}{% endif %}
                </tbody>
            </table>
        </div>

        <div class="col col-12 col-sm-12 col-md-4 center">
            <h3 class="tags_header">Tags</h3>
            {% if tags %}
            <table class="playerinfo taglist" id="player_tags">
                <tbody>
                {% for tag in tags %}
                    <tr>
                        <td>
                            {% if tag.taggee %}
                                <a href="/player/{{tag.taggee.player_uuid}}/"><img src="{{ tag.taggee.picture_url }}" class="player_tag_img" />{{tag.taggee}}</a>
                            {% else %}
                                <img src="/media/bodyarmor.png" class="player_tag_img" />Body Armor
                            {% endif %}
                        </td>
                        <td>{{tag.display_timestamp}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            No tags to show
            {% endif %}
        </div>

        {% if user == player or user.admin_this_game%}
        <div class="col col-12 col-sm-12 col-md-4 center">
            <h3 class="blasters">Blasters</h3>
            {% for blaster in blasters %}
                <div class="row blasterdetail">
                    <div class="col blasterpic col-sm-4 col-md-4">
                        <img src="{{ blaster.picture.url }}" title="{{ blaster }}" class="player_blaster_img" />
                    </div>
                    <div class="col blastertext col-sm-8 col-md-8">
                        <div class="row blastername"><span class="blastername">{{blaster.name}}</span></div>
                        <div class="row blasterchrono"><span class="blasterchrono">{{blaster.avg_chrono}} fps</span></div>
                    </div>
                </div>
            {% empty %}
                <span class="noblasters">No blasters to show</span>
            {% endfor %}
        </div>
        {% endif %}

        <div class="col col-12 col-sm-12 col-md-12" id="player_badges">
            <h3 class="badges"> Badges</h3>
            {% for badge in badges %}
                <figure class="badgefigure figure">
                    <img src="{{ badge.badge_type.picture.url }}" title="{{ badge.badge_type.badge_description }}" class="player_badge_img" />
                    <figcaption class="badgecaption">{{ badge.badge_type.badge_name }}</figcaption>
                </figure>
            {% empty %}
                <span class="nobadges">No badges to show </span>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
