{% extends 'base.html' %}
{% load static %}
{% block title %} HvZ @ RIT - {{ player }} {% endblock %}
{% block extrahead %}
<script>
$(document).ready(function () {
    if ("{{player.current_status.is_human}}" == "True") {
        $('#maincontainer').addClass("humancontainer");
    }
    if ("{{player.current_status.is_zombie}}" == "True") {
        $('#maincontainer').addClass("zombiecontainer");
    }
    if ("{{player.current_status.is_mod}}" == "True") {
        $('#maincontainer').addClass("modcontainer");
    }
    if ("{{player.current_status.is_admin}}" == "True") {
        $('#maincontainer').addClass("admincontainer");
    }
    if ("{{player.active_this_game}}" == "False") {
        $('#maincontainer').addClass("npcontainer");
    }
});

{% if user.is_authenticated and user.current_status.is_admin %}
function admintools(command) {
    if (command == "Tools") return;
    window.location.href = "/admin/player_admin/tools/{{player.player_uuid}}/" + command;
}
{% endif %}
</script>
{% endblock %}
{% block body %}
<div class="row justify-content-md-center playermainrow">
    <div class="col col-md-4">
        <div class="row justify-content-md-center">
            <div class="col">
                <h1 class="clan_name"> {{ player }} </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="clan_picture"><img src="{{ player.picture_url }}"/></div>
            </div>
        </div>
        {% if is_me or user.admin_this_game %}
            {% if player.active_this_game %}
            <div class="row">
                <div class="col" id="showidsdiv">
                    <button class="btn btn-danger" type="button" id="showids" onclick="document.getElementById('player_ids').style.display='inline-block';document.getElementById('showidsdiv').style.display='none';">Show Human/Zombie IDs</button>
                </div>
                <div class="col" id="player_ids" style="display:none">
                    Tag #1 ID: {{ player.current_status.tag1_uuid}} <br/>
                    Tag #2 ID: {{ player.current_status.tag2_uuid}} <br>
                    Zombie ID: {{ player.current_status.zombie_uuid}}
                </div>
            </div>
            {% endif %}
        {% endif %}
        <div class="row">
            <div class="col" id="player_role">
                <h1> Status </h1>
                <h5>{{player.current_status.get_status_display}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col" id="player_role">
                <h1> Clan </h1>
                {% if player.clan %}
                <a href="/clan/{{player.clan}}/" class="clan_link">
                    {% if player.clan.picture %}<img src="{{player.clan.picture.url}}"/>{% endif %}
                    <h5>{{player.clan}}</h5>
                </a>
                {% else %}
                    <h5>None</h5>
                {% endif %}
            </div>
        </div>
	{% if is_me or user.admin_this_game%}
	<div class="row">	  
          <div class="col" id="player_role">
            <h1> Discord </h1>
            {% if discord_code %}
	    Use the following code: {{ discord_code }}
            {% elif player.discord_id %}
	    <h5>Linked: {{player.discord_id}}</h5>
	    <a href="/discord-link">Reset your discord link</a>
            {% else %}
	    <a href="/discord-link">Generate a code to link your discord account</a>
            {% endif %}
          </div>
        </div>
	{% endif %}
    </div>
    <div class="col col-lg-8">
        <div class="row">
            <div id="player_badges" class="col">
                <h1> Badges </h1>
                {% for badge in badges %} <img src="{{ badge.badge_type.picture.url }}" title="{{ badge.badge_type.badge_name }}" class="player_badge_img" /> {% empty %} <span class="nobadges">No badges to show </span>{% endfor %}
            </div>
        </div>
        <div id="player_tags" class="row">
            <div class="col">
                <h1> Tags </h1>
                {% for tag in tags %} <div class="player_tag_div">{% if tag.taggee %}<a href="/player/{{tag.taggee.player_uuid}}/"><div><img src="{{ tag.taggee.picture_url }}" class="player_tag_img" /></div><div>{{tag.taggee}}</div></a></div>{% else %}<div><img src="/media/bodyarmor.png" class="player_tag_img" /></div><div>Body Armor</div></a></div>{% endif %}
                {% empty %}<span class="notags">No tags to show</span>{% endfor %}
            </div>
        </div>
        <div id="player_blasters" class="row">
            <div class="col">
                <h1> Blasters </h1>
                {% for blaster in blasters %} <div class="player_blaster_div"><img src="{{ blaster.picture.url }}" title="{{ blaster }}" class="player_blaster_img" /><div>{{blaster.name}}</div>{% empty %}<span class="noblasters">No blasters to show</span> {% endfor %}
            </div>
        </div>
        {% if user.is_authenticated and user.current_status.is_admin %}
        <div id="admin_tools" class="row">
            <div class="col">
                <h1>Admin Tools</h1>
                <div class="admin_tool_div">
                    <select onchange="admintools(this.value)" id="admin_tools">
                        <option value="Tools" selected="selected">Alter Player Status</option> 
                        <option value="make_oz" class="playeradmintool">Make OZ</option>
                        <option value="make_nonplayer" class="playeradmintool">Make Nonplayer</option>
                        <option value="make_human" class="playeradmintool">Make Human</option>
                        <option value="make_human_av" class="playeradmintool">Make Human (Used AV)</option>
                        <option value="make_zombie" class="playeradmintool">Make Zombie</option>
                        <option value="make_zombie_av" class="playeradmintool">Make Zombie (Used AV)</option>
                        <option value="make_mod" class="playeradmintool">Make Mod</option>
                    </select>
                </div>
                <button onlick="admintools('print_id')" class="playeradmintool">Print ID</button>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
