{% extends 'base.html' %}
{% load static %}
{% block title %} HvZ @ RIT - Player List {% endblock %}

{% block extrahead %}
<meta name="robots" content="noindex, nofollow" />
<script>
    $(document).ready(function () {
        var datatable = $('#players').DataTable( {
            "serverSide": true,
            "ajax": {
                "url": '/api/datatables/players',
                "type": 'GET'
            },
            "scrollX": true,
            "order": [[1, 'asc']],
            "columns": [
                {"className": "dt_profilepic", "name": "picture", "data": "pic", "orderable": false},
                {"className": "dt_name", "name": "name"  , "data": "name"},
                {"className": "dt_status", "name": "status"  , "data": "status"},
                {"className": "dt_tags", "name": "tags"  , "data": "tags"},
                {"className": "dt_clan", "name": "clan"  , "data": "clan"}
            ],
        } );
    });
</script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h1 class="center"> Players </h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <table id="players" class="table table-striped display">
            <thead>
                <tr>
                    <th class="foo">Picture</th>
                    <th class="foo">Name</th>
                    <th class="foo">Status</th>
                    <th class="foo">Tags</th>
                    <th class="foo">Clan</th>
            </thead>
        </table>
    </div>
</div>
{% endblock %}
