<!DOCTYPE html>

{% load static %}
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
        <link href="https://fonts.cdnfonts.com/css/droid-sans-mono-2" rel="stylesheet">
        <link href="{% static 'css/cards.css' %}" rel="stylesheet">
        <script src="{% static 'js/datamatrix.min.js' %}"></script>
        <script>
         function markprinted() {
             confirm = window.confirm("Mark all players as printed? Note: THIS CANNOT BE UNDONE!");
             if (confirm) {
                 window.location.href='/admin/mark_printed/';
             }
         }
         $(document).ready(function () {
             $("p.name").each(function(index, name_elem){
                 var name_length = $(name_elem).text().length;
                 if( name_length > 37 && name_length <= 43){
                     $(name_elem).addClass("longassname");
                 } else if (name_length > 43 ){
                     $(name_elem).addClass("reallylongassname");
                 }
             });
         })
        </script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>HvZ Player Id Cards</title>
    </head>
    <body>
        <!-- {% if not preview %}{% if not print_one %}<button id="mark_printed" class="btn btn-primary" onclick="markprinted()">Mark All as Printed</button>{% endif %}{% endif %} -->
    {% for player in players %}
        {% if forloop.counter0|divisibleby:2 %}<br style="clear:both">{%endif%}
        {% if forloop.counter0|divisibleby:8 %}<div class="pagebreak"></div>{%endif%}
        <div class="card {% if player.admin_this_game %}admin{% endif %}{% if player.mod_this_game %}mod{% endif %}">
            <table class="playercardtable">
                <tbody>
                    <tr class="toprow">
                        <td colspan="2"><p class="name">{{player.first_name}} {{player.last_name}}</p></td>
                    </tr>
                    <tr class="scan_and_image">
                        <td><img src="{{player.picture_url}}" alt="avatar"></td>
                        <td>
                            <div class="qr" id="qr_container_{{player.player_uuid}}">
                            {% if preview %}
                                <span id="qr_url_{{player.player_uuid}}" style="display:none">https://www.youtube.com/watch?v=dQw4w9WgXcQ</span>
                            {% else %}
                                <span id="qr_url_{{player.player_uuid}}" style="display:none">{{url}}/tag/?scan={{player.id_card_values}}</span>
                            {% endif %}
                            <canvas id="qrcode_{{player.player_uuid}}"></canvas>
                            <script type="text/javascript">
                                var qr_{{forloop.counter0}} = new QRious({
                                    element: document.getElementById("qrcode_{{player.player_uuid}}"),
                                    background: '#fff',
                                    backgroundAlpha: 1,
                                    foreground: '#000',
                                    foregroundAlpha: 1,
                                    level: 'L',
                                    padding: 0,
                                    size: 100,
                                    value: document.getElementById('qr_url_{{player.player_uuid}}').innerText
                                });
                                //const datamatrix_{{forloop.counter0}} = DATAMatrix({
                                //    msg: document.getElementById('qr_url_{{player.player_uuid}}').innerText,
                                //    dim: 98,
                                //    pad: 0,
                                //    rct: 0,
                                //    pal: ["#000000", "#ffffff"]
                                //});
                                //document.getElementById("qr_container_{{player.player_uuid}}").appendChild(datamatrix_{{forloop.counter0}});
                            </script>
                        </td>
                    </tr>
                    <tr class="id_number">
                      <td colspan="2">Zombie Id: {% if not preview %}{{player.current_status.zombie_uuid}}{% endif %}</td>
                    </tr>
                    <tr class="id_number border_sandwich">
                      <td colspan="2">Human Id #1: {% if not preview %}{{player.current_status.tag1_uuid}}{% endif %}</td>
                    </tr>
                    <tr class="id_number">
                        <td colspan="2">Human Id #2: {% if not preview %}{{player.current_status.tag2_uuid}}{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% empty %}
    No cards to print!
    {% endfor %}
</body>
</html>
