{% extends 'base.html' %}
{% load static %}
{% load hvztags %}
{% block title %} HvZ @ RIT - Report {% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multi.js/0.4.1/multi.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/multi.js/0.4.1/multi.min.js" integrity="sha512-6UUThLVSijzV3nvbg3UItMp8eYd2rcDQO5P07/B+cgkA8tPOFFh4BjndmuAzoPSEoQu0rE29bpB8LictuUzvaw==" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $( '#id_reportees' ).multi();
    });
</script>
{% endblock %}
{% block body %}
{% load crispy_forms_tags %}
<div class="row justify-content-md-center armortitle">
    <div class="col col-lg-8" style="display:inline-block;text-align: center;">
        <h1>Report Detail</h1>
    </div>
</div>
<div class="row justify-content-md-center armormainrow">
    <div class="col col-md-3">
        Reporter: {{report.get_reporter}}
    </div>
    <div class="col col-md-3">
        Reportee(s): <ul class="reporteelist">{%for reportee in report.reportees.all %}<li><a class="reportee_link" href="/player/{{reportee.player_uuid}}/">{% get_player_name reportee user %}</a></li>{% empty %}N/A{% endfor %}</ul>
    </div> 
    <div class="col col-md-3">
        Timestamp: {{report.timestamp}}
    </div>
    <div class="col col-md-3">
        Status: {{report.status_text}}
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col center">
        <h3 class="reportupdatetitle">Report Text</h3>
        <div class="reporttext">
            {{report.report_text}}
        </div>
    </div>
</div>
{% if report.picture %}
<div class="row justify-content-md-center">
    <div class="col center">
        <div class="reportimage">
            <h3 class="reportupdatetitle">Report Image</h3>
            <a href="{{report.picture.url}}"><img src="{{report.picture.url}}" height="300"/></a>
        </div>
    </div>
</div>
{% endif %}
{% for update in report.reportupdate_set.all %}
<div class="row justify-content-md-center">
    <div class="col center">
        <div class="reportupdatediv">
            <h3 class="reportupdatetitle">Update by {% get_player_name update.note_creator user %} on {{update.get_timestamp}}</h3>
            {{update.note}}
        </div>
    </div>
</div>
{% endfor %}
<div class="row justify-content-md-center">
    <div class="col center">
        <h3 class="reportupdatetitle">Add Note</h3>
        <div class="reportnewnote">
            <form method="post">{% csrf_token %}
                {{form | crispy}}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
