{% extends 'base.html' %}
{% load static %}
{% load hvztags %}
{% block title %} HvZ @ RIT - Reports {% endblock %}

{% block extrahead %}
<script>
    $(document).ready(function () {
        var datatable = $('#surveys').DataTable({'ordering':false});
    });
</script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h1 class="center"> Reported Incidents </h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <table id="surveys" class="table table-striped display">
            <thead>
                <tr>
                    <th class="foo">Report ID</th>
                    <th class="foo">Reporter</th>
                    <th class="foo">Timestamp</th>
                    <th class="foo">Status</th>
                    <th class="foo">Last Updated</th>
                    <th class="foo">Reportee(s)</th>
            </thead>
            <tbody>
                {% for report in reports %}
                <tr onclick="window.location.href='/admin/report/{{report.report_uuid}}/'">
                    <td>{{report.report_uuid}}</td>
                    <td>
                        {% if report.reporter %}
                          <a href="/player/{{report.reporter.player_uuid}}">
                            {% get_player_name report.get_reporter user %}
                          </a>
                        {% else %}
                          {% get_player_name report.get_reporter user %}
                        {% endif %}
                    </td>
                    <td>{{report.timestamp}}</td>
                    <td>{{report.status_text}}</td>
                    <td>{% if report.last_updated %}{{report.last_updated}}{% endif %}</td>
                    <td>{% for reportee in report.reportees.all %}<a class="reportee_link" href="/player/{{reportee.player_uuid}}/">{% get_player_name reportee user %}</a><br />{% empty %}N/A{% endfor %}</td>
                </tr>
                {% empty %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
