{% extends 'base.html' %}
{% load static %}
{% block title %} HvZ @ RIT - Rules {% endblock %}
{% block extrahead %}
<script>
$(document).ready(function () {
    $("section h2").each(function(index, elem){
        new_id = "section_"+(index+1);
        $(elem).attr("id", new_id);
        let new_row = "<a class='missionlink' href='#"+new_id+"'>"+$(elem).text()+"</a>";
        $("#links").append(new_row);
    });
});
</script>
{% endblock %}
{% block body %}


<div class="row">
    <div class="col">
        <h1 class="center"> Rules </h1>
    </div>
</div>
<!--
<div class="row">
    <div class="col">
        <iframe src="https://www.youtube.com/embed/19MRPji6Lis" title="Humans vs. Zombies @ RIT - Rules and How to Play" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>-->
<div class="row">
  <div class="col container-fluid">
    <div class="container rulescontainer">
      {{ rules.rules_text | safe}}
    </div>
  </div>
</div>
{% endblock %}
