{% extends 'base.html' %}
{% load static %}
{% block title %} HvZ @ RIT - Rules {% endblock %}
{% block body %}


<div class="row">
    <div class="col">
        <h1 class="center"> Rules </h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <iframe width="1278" height="719" src="https://www.youtube.com/embed/19MRPji6Lis" title="Humans vs. Zombies @ RIT - Rules and How to Play" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
