{% extends 'base.html' %}
{% load static %}
{% block title %} HvZ @ RIT - Rules {% endblock %}
{% block extrahead %}
<script>
$(document).ready(function () {
    $("section h2").each(function(index, elem){
        console.log(elem);
        $(elem).attr("id","section_"+(index+1));
        let new_row = "<a class='missionlink' href='#section_"+(index+1)+"'>"+$(elem).text()+"</a>";
        $("#links").append(new_row);
    });
});
</script>
{% endblock %}
{% block body %}


<div class="row">
    <div class="col">
        <h1 class="center"> Rules </h1>
    </div>
</div>
<!--
<div class="row">
    <div class="col">
        <iframe src="https://www.youtube.com/embed/19MRPji6Lis" title="Humans vs. Zombies @ RIT - Rules and How to Play" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>-->
<div class="row totalcontainer">
    <div class="col missionscrollercol">
        <div class="missionscroller" id="links">
        </div>
    </div>
    <div class="col missionscontainer rulescontainer">
        {{ rules.rules_text | safe}}
    </div>
</div>
{% endblock %}
