{% extends 'base.html' %}
{% load static %}
{% load hvztags %}
{% block body %}
<div class="row center">
  <div class="col">
    <h1>You must sign and return a paper waiver to play HvZ at RIT</h1>
    <span class="contact info">Whether you need to obtain or return a waiver, or if you think you're
    seeing this message in error, contact the admins to correct it. <br />
    The fastest way to contact the admins is in the <pre style="display:inline">#ask-an-admin</pre>
    channel of the HvZ@RIT Discord server at <a href="https://discord.gg/4utkNbTR76">https://discord.gg/4utkNbTR76</a> <br />
  </div>
</div>
{% endblock %}
