{% extends 'base.html' %}
{% load static %}
{% block title %} HvZ @ RIT - Unsigned Waivers {% endblock %}

{% block extrahead %}
<script>
    $(document).ready(function () {
        var datatable = $('#bodyarmors').DataTable({'ordering':true});
    });
function mark_waiver(player_id) {
    $.ajax("/admin/player_admin/tools/"+player_id+"/mark_waiver",{
        method: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    }).done( function (data) {
        console.log(data);
        if (data.status == "success") {
            location.reload();
        };
    })
}
</script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h1 class="center"> Unsigned Waivers </h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <table id="bodyarmors" class="table adminlist">
            <thead>
                <tr>
                    <th class="foo">Player</th>
                    <th class="foo">Mark Signed</th>
                </tr>
            </thead>
            <tbody>
                {% for playerstatus in unsigned %}
                <tr>
                    <td><a href='/player/{{playerstatus.player.player_uuid}}/'>{{playerstatus.player.first_name}} {{playerstatus.player.last_name}}</a></td>
                    <td><input type="button" class="btn btn-primary" value="Mark Waiver Signed" onclick="mark_waiver('{{playerstatus.player.player_uuid}}')" /></td>
                </tr>
                {% empty %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}