{% extends "base.html" %}
{% load i18n %}

{% block body %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
  <div class="login_alreadylogged">You are already logged in. <a href="/">Return home</a></div>
{% else %}
  <div class="row">
    <div class="col center">
        <h1>RIT HvZ Registration</h1>
    </div>
  </div>
  <div class="row">
    <div class="col login-button  center">
      <form method="post">
        {% csrf_token %}
        Please ensure your email address is correct! <br />
        You will have to confirm your email address via an <b>activation link</b> that will be sent to you.
		    {{ form | crispy }}
        <button class="btn btn-primary" type="submit">{% trans "Continue" %}</button>
      </form>
    </div>
  </div>

{% endif %}
{% endblock %}
