body {
    background-color: #181818;
    padding-top: 75px;
    font-family: "Noto Sans";
}

input {
    font-family: inherit;
}

h1, h2, h3, h4, h5 {
    color: #aaa;
    /*text-shadow: #000 2px 2px 3px;*/
}

a {
    text-decoration: none;
    color: #3ae;
}

a:hover {
    text-decoration: none;
    color: #4bf;
}

.container {
    border-radius: 2em;
    background-color: none;
}

.options {
    padding: 5px;
    margin: 5px;
    background-color: rgba(255,255,255,0.1);
}

.optionpair {
    display: block;
    border-radius: 2px;
    border-color: white;
    border-width: 1px;
    padding: 10px;
    margin: 10px
}

.optionpair.option_name input {
    display: inline;
}

.option_name, .option_text, .option_delete {
    display: inline-block;
}

.admin-only {
    background-color: #aa0;
    border-radius: 0.4em;
    margin-left: .4em;
    margin-right: .4em;
    color: white;
}

.mod-only {
    background-color: #0820b8;
    border-radius: 0.4em;
    margin-left: .4em;
    margin-right: .4em;
}

.logo-img {
    position:relative;
    width: 59px;
    height: 45px;
    top:0px;
}

.dt_profile {
    width: 100px;
    aspect-ratio: 1;
    object-fit: cover;
}

.dt_profilepic {
    width: 110px;
    aspect-ratio: 1;
    object-fit: cover;
}

.dt_human td{
    background-color: #d86611;
}

.dt_zombie td{
    background-color: #0faa01;
}

.dt_mod td{
    background-color: #0820b8;
}

.dt_admin td{
    background-color: #aa0;
}

.dt_nonplayer td{
    background-color: #777;
}

th, label {
    color: #aaa;
}

#maincontainer.armorcontainer {
    background-color: transparent;
}

.humancountnumber, .zombiecountnumber {
    font-weight: bold;
    color: black;
}

.humancountlabel, .zombiecountlabel {
    font-weight: bold;
    color: black;
}

.versussection {
    margin: auto;
    height: 100%;
    vertical-align: middle;
}

.main-title, .versuslabel {
    font-weight: bold;
    color: white;
    font-size: 32pt;
    margin: auto;
}

div.humancount {
    background-color: #d86611;
}

div.zombiecount {
    background-color: #0faa01;
}

div.humancount, div.zombiecount, div.versussection {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    min-height: 10vw;
}

.humancountnumber, .zombiecountnumber {
    font-size: 48pt;
    color: white;
}

.humancountlabel, .zombiecountlabel {
    font-size: 24pt;
}

.dt_name_link, .dt_clan_link{
    color: white;
    font-weight: bold;
}

.dt_name_link:hover, .dt_clan_link:hover, .announcementdiv a:hover {
    color: #dddddd;
}

.dt_name, .dt_size {
    vertical-align: middle;
}

.dt_clanpic {
    width: 60px;
    aspect-ratio: 1;
    object-fit: cover;
}

#player_name h1 {
    display: inline-block;
}

#player_name div {
    display: inline-block;
}

.roster_pic img{
    max-width: 100px;
    max-height: 100px;
}

.clan_picture img {
    width: 300px;
    aspect-ratio: 1;
    object-fit: cover;
}

.clan_name {
    width: 100%;
    text-align: center;
}

.clan_picture {
    width: 100%;
    text-align: center;
}

#rostertable tbody tr td, #players tbody tr td {
    vertical-align: middle;
}

.adminlist tbody tr.odd td {
    background-color: rgb(200,200,200);
}

.adminlist tbody tr.even td {
    background-color: rgb(160,160,160);
}

.adminlist tbody tr td.ba-returned-False {
    background-color: #822;
}

.adminlist tbody tr td.ba-returned-True {
    background-color: #0faa01;
}

#qr_url {
    display: none;
}

#qr-reader {
    width: auto;
}

.qrlaunch {
    background-color: rgba(0,0,0,0);
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ddd;
    font-weight: bold;
    border-width: 2px;
    border-color: #ddd;
}

.missionscontainer {
    overflow: auto;
    height: 100%
}

.totalcontainer {
    height: calc(100% - 4em);
}

/* width */
::-webkit-scrollbar {
width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 3px #222;
border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #333;
border-radius: 4px;
}

#qr-reader-holder {
    width:100%;
    text-align: center;
}
#players {
    width: 100% !important;
}

.playermainrow, .armormainrow {
    text-align: center;
}

.clan_link img {
    max-height: 1rem;
}

.login-title, .login-description, .login-button, .center {
    text-align: center;
}

.player_blaster_img {
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: 50px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.player_badge_img {
    width: 50px;
    aspect-ratio: 1;
    object-fit: cover;
}

.player_badge_img {
    border-radius: 50%;
}

.badgecaption {
    font-size: small;
}

.player_tag_img {
    max-height: 1rem;
}

#surveys thead tr, #surveys tbody tr td {
    color: #ddd;
}

#surveys ul {
    list-style-type: none;
}

.reportupdatediv, .reporttext {
    background-color: #555;
    border-radius: 10px;
    display: block;
    padding: 10px;
    margin: 10px;
    word-wrap: break-word;
}


#surveys {
    background-color: #222;
}

#surveys tr td {
    vertical-align: middle;
}

.surveyclosed, .surveynotopen, .surveyopen {
    border-radius: 8px;
    padding: 10px;
}

.surveyopen {
    background-color: #088808;
}

.surveyclosed {
    background-color: rgb(85, 12, 12);
}

.surveynotopen {
    background-color: rgb(4, 121, 199);
}
.hoverhand {
    cursor:pointer;
}
.player_blaster_div, .player_tag_div {
    display: inline-block;
}

.playermainrow h1 {
    text-decoration: underline;
}

#tagform input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tagnotification, .avnotification {
    background-color: #0faa01;
    border-radius: 10px;
    color: #111;
    padding: 10px;
    text-align: center;
    vertical-align:middle;
    text-shadow: #000 1px 1px 2px;
}


.tagformerrors {
    background-color: #822;
    border-radius: 10px;
    color: #111;
    text-align: center;
    padding:10px;
    vertical-align:middle;
}

.missionscroller, .missionscrollercol {
    max-width: fit-content;
}

.selectedresponse {
    color: rgb(200,200,200);
}

.missionscrollercol {
    margin: 10px;
}
a.missionlink {
    text-decoration: none;
    font-weight: bold;
    color: #888;
    display: block;
}

.missioncol {
    border-radius: 10px;
    background-color: #111;
    margin: 20px;
    padding: 20px;
}

@media only screen and (max-width: 800px) {
    .missionscrollercol {
        display: none;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rulescontainer {
    color: rgb(136,136,136);
}

.rulescontainer h2 {
    font-size: 42px;
    color: rgb(255,255,255);
}

.rulescontainer h3 {
    color: rgb(255,255,255);
}
.rulescontainer {
    font-family: "Noto Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.reportee_link {
    margin-left: 5px;
    margin-right: 5px;
}

.reporteelist{
    list-style: none;
    list-style-type: none;
    padding: 0;
}

.reporteelist li {
    padding: 0;
}

#players img {
    width: 50px;
    aspect-ratio: 1;
    object-fit: cover;
}

a.statuspage {
    text-decoration: none;
    font-weight: bold;
}

a.statuspage:hover {
    text-decoration: none;
    font-weight: bold;
}

.blacktext {
    color: #111;
}

#playerlist {
    width: 100%;
}

div.countdown {
    width: 80%;
    display: block;
    background-color: #777;
    color: black;
    font-size: xx-large;
    border-radius: 10px;
    margin: 5px;
}

.qrcontainer {
    padding-bottom: 30px;
}

.roster_actions input {
    padding: 10px;
    margin: 10px;
}

.notificationnumber {
    background-color: yellow;
    border-radius: 1em;
    color: black;
    font-weight: bold;
    padding-left: .5em;
    padding-right:  .5em;
}

.announcementdiv {
    background-color: rgb(135, 0, 135);
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: large;
}

.announcementdiv a {
    color: white;
    font-size: smaller;
    cursor: pointer;
}

.announcementlink {
    margin-left: 15px;
}

.announcementdismiss {
    float: right;
}

.banneddiv {
    background-color: rgb(205, 0, 0);
    color: black;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: large;
}

.player_picture {
    transform: translateY(50%);
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    width: 100px;
    aspect-ratio: 1;
    object-fit: cover;
    margin-right: 12px;
}

.playernamerow {
    margin-bottom: 50px;
}

.zombiecontainer .player_picture {
    border-color: #0faa01;
}

.admincontainer .player_picture {
    border-color: #aa0;
}

.humancontainer .player_picture {
    border-color: #d86611;
}

.npcontainer .player_picture {
    border-color: #777;
}

.modcontainer .player_picture {
    border-color: #0820b8;
}
.bannedcontainer .player_picture {
    border-color: #f00;
}
.player_name {
    color: white;
    align-self: flex-end;
    height: 100%;
    vertical-align: bottom;
}

.playernamecol {
    display: flex;
}
.humancontainer .playernamerow {
    background-color: #d86611;
}

.bannedcontainer .playernamerow {
    background-color: #f00;
}

.npcontainer .playernamerow {
    background-color: #777;
}
.modcontainer .playernamerow {
    background-color: #0820b8;
}

.admincontainer .playernamerow {
    background-color: #aa0;
}

.admincontainer .playernamerow .player_name {
    color:#000;
}

.zombiecontainer .playernamerow {
    background-color: #0faa01;
}

dl.playerinfo dt {
    text-align: right;
    color: rgb(180,180,180)
}

dl.playerinfo dd {
    text-align: left;
    color:rgb(220, 220, 220);
}

table.playerinfo td:first-child{
    text-align: right;
    padding-right: 5px;
    color: rgb(180,180,180)

}

table.playerinfo td:last-child{
    text-align: left;
    padding-left: 5px;
    color:rgb(220, 220, 220);
}

table#player_tags, table.playerinfo {
    width: 100%;
}

table#player_tags td:first-child{
    text-align: left;
    color: rgb(180,180,180)

}

table#player_tags td:last-child{
    text-align: right;
    color:rgb(220, 220, 220);
}

.playercontainer {
    background-color: #222;
}

#tags_header {
    width: 100%;
    text-align: left;
}

h3.blasters, h3.badges {
    text-align: left;
    width: 100%;
}

.blastername {
    font-weight: bold;
    display: block;
    height: 50%;
}

.blasterchrono {
    color: rgb(180,180,180);
    display: inline-block;
    vertical-align: bottom;
}

.admintoolsdiv, .playername{
    align-self: flex-end;
}

.admintoolsdiv button {
    margin-bottom: 10px;
    margin-left: 1em;
}

.blastertext {
    text-align: left;
}

.playernamecontainer .row {
    height: 100%;
    align-items:flex-end;
}

.taglist tr:nth-child(even) {
    background-color: rgba(255,255,255,0.05);
}

.badgefigure {
    padding-left: 10px;
    padding-right: 10px;
}

div.alert-error {
    background-color: #822;
}

div.alert-error ul li {
    list-style: none;
}

.clanphotopreview {
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
}

div.controls ul {
    list-style-type: none;
    padding-left: 0;
}

#scannerdiv {
    display: inline-block;
}

#reader {
    max-width: 600px;
    max-height: 600px;
    display: inline-block;
}

.timestamp {
    border-bottom: thin dotted;
}

.leaderboard h2, .recent-tags h2, .recent-announcements h2 {
    margin-top: 15px;
    color: white;
    font-size: 32pt;
    font-weight: bold;
}

.toast-container {
    position: fixed;
    right: 10px;
    top: 80px;
    z-index: 999999999999;
    left: 10px;
  }
  
.toast {
    max-width: 80%;
    word-wrap: break-word;
}
.toast:not(.showing):not(.show) {
display: none !important;
}
.recent-announcements .announcement-short {
    font-weight: bold;
}

.mainpage-container {
    background-color: #222;
    padding: 10px;
    border-radius-top: 0;
}
